<div id="guanzhu">
	<!-- 快报 -->
	<div class="gzsearch">
		我的关注：#古尔丹  >4
	</div>
	<!-- 关注 类型1 -->
  <a class="complexg">
    <p>韩雪：不找圈内人，比自己有钱，还不能是富二代</p>
    <ul>
      <li><img src="image/0fd48135968889.574c0005c7f37.jpg" alt=""></li>
      <li><img src="image/0fd48135968889.574c0005c7f37.jpg" alt=""></li>
      <li><img src="image/0fd48135968889.574c0005c7f37.jpg" alt=""></li>
    </ul>
    <div class="ginfor">
      <span>#韩雪</span>
      <span>萌宠之爱</span>
      <span>36分钟前</span>
    </div>
  </a>
  <!-- 关注 类型2 -->
  <a class="simpleg">
  <div class="simg">
    <p>韩雪被爆一家三口出游照 隐婚生女传闻疑证实</p>
    <div class="infor">
      <span>搜狐社会</span>
      <span>1分钟前</span>
      <span>290评</span>
      <img src="image/2016-06-10_172909.png" alt="">
    </div>
  </div>
  <img src="image/2016-06-10_175142.png" alt="">
  </a>
  <!-- 关注 类型3 -->
  <a class="complexg2">
    <p>韩雪：不找圈内人，比自己有钱，还不能是富二代</p>
    <div class="ginfor">
      <span>#韩雪</span>
      <span>萌宠之爱</span>
      <span>36分钟前</span>
    </div>
  </a>
</div>