<div id="kbheader">
  <!-- 头部 -->
  <div class="kbheader">
   <div class="hportrait">
     <img src="image/434dc638051541.5754b48d70f1c.jpg">
   </div>
   <div class="kbmenu">
    <ul>
      <li><a href="#/kuaibao">快报</a></li>
      <li><a href="#/shipin">视频</a></li>
      <li><a href="#/zhibo">直播</a></li>
      <li><a href="#/guanzhu">关注</a></li>
      <li><a href="#/yvle">娱乐</a></li>
      <li><a href="#/shehui">社会</a></li>
      <li><a href="#/meinv">美女</a></li>
      <li><a href="#/junshi">军事</a></li>
    </ul>
  </div>   
  <div class="kbadd">
   <img src="image/2016-06-10_113853.png" alt="">
 </div>
</div>
</div>