<div id="shehui">
  <!-- 快报 -->
  <div class="kbsearch">
    搜索
    <img src="image/2016-06-10_113853.png">
  </div>
  <!-- 新闻 类型1 -->
  <a class="simplet">
  <div class="siml">
    <p>云州报警后警察40分钟才到 群众欲掀翻警车</p>
    <div class="infor">
      <span>搜狐社会</span>
      <span>1分钟前</span>
      <span>290评</span>
      <img src="image/2016-06-10_172909.png" alt="">
    </div>
  </div>
  <img src="image/2016-06-10_175142.png" alt="">
  </a>
  <!-- 新闻 类型2 -->
   <a class="complext">
    <p>她夺走霍建华初吻，被爆丑事事业走低被批落泪，如今开公司当老板</p>
    <ul>
      <li><img src="image/0fd48135968889.574c0005c7f37.jpg" alt=""></li>
      <li><img src="image/0fd48135968889.574c0005c7f37.jpg" alt=""></li>
      <li><img src="image/0fd48135968889.574c0005c7f37.jpg" alt=""></li>
    </ul>
    <div class="infor">
      <span>爱据说</span>
      <span>1分钟前</span>
      <span>290评</span>
      <img src="image/2016-06-10_172909.png" alt="">
    </div>
  </a>
  <!-- 新闻 类型3 -->
  <a class="anthert">
    <p>执行死刑21年后，聂树斌案再审</p>
    <img src="image/2016-06-11_105741.png" alt="">
    <div class="infor">
      <span>搜狐社会</span>
      <span>1分钟前</span>
      <span>290评</span>
      <img src="image/2016-06-10_172909.png" alt="">
    </div>
  </a>
  <!-- <div>{{asd}}</div> -->
</div>