<div id="shipin">
	<div class="kbvideo">
		<p>亚洲女神的美丽日记，宅男福利</p>
		<div class="vid">
			<img src="image/2016-06-10_202523.png" alt="">
		</div>
		
		<div class="spinfor">
			<span>
			<img src="image/169992.53ac0e7dc6fa8.jpg" alt="">
			梅婷婷</span>
			<div class="zan">
				<img src="image/2016-06-11_103821.png" alt="">
				<span>257</span>
				<img src="image/2016-06-11_103607.png" alt="">
			</div>
			
		</div>
	</div>
	<div class="kbvideo">
		<p>亚洲女神的美丽日记，宅男福利</p>
		<div class="vid">
			<img src="image/2016-06-10_202523.png" alt="">
		</div>
		
		<div class="spinfor">
			<span>
			<img src="image/169992.53ac0e7dc6fa8.jpg" alt="">
			梅婷婷</span>
			<div class="zan">
				<img src="image/2016-06-11_103821.png" alt="">
				<span>257</span>
				<img src="image/2016-06-11_103607.png" alt="">
			</div>
			
		</div>
	</div>
</div>