<div id="zhibo">
	<!-- 快报 -->
	<div class="zbsearch">
		未开始的直播>
	</div>
	<a class="zbele">
		<img src="image/2016-06-11_112504.png" alt="">
		<div class="zbinfor">
			<div class="ifup">
				<span>今天11:00</span>
				<span>2.5万人参与</span>
			</div>
			<img src="image/2016-06-11_115039.png" alt="">
		</div>
	</a>
	<a class="zbele">
		<img src="image/2016-06-11_112504.png" alt="">
		<div class="zbinfor">
			<div class="ifup">
				<span>今天11:00</span>
				<span>2.5万人参与</span>
			</div>
			<img src="image/2016-06-11_115039.png" alt="">
		</div>
	</a>
</div>